{% load tailwind_tags %}
{% comment %} {% load static tailwind_tags %} {% endcomment %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% tailwind_css %}
</head>
<body>
<div class="flex justify-center items-center h-screen text-red-500">
    <h1 class="text-4xl font-bold">Welcome to my website!</h1>
    <p>Ultima pregunta {{ latest_question_list }}</p>
</div>
</body>
</html>